<% content_for :page_title, "My Dogs" %>

<% if @dogs.empty? then %>
  <div class="row center-align valign-wrapper no-dogs-message-container">
    <div class="col l12 m12 s12 valign no-dogs-message">
      You don't have any dogs yet! <br>
      <a href="/dogs/new" class="btn-large green accent-4">Add your first dog!</a>
    </div>
  </div>
<% else %>
  <div class="row container main-content">
    <% @dogs.each do |dog| %>
      <%= render "dog_card", :dog => dog, :current_user => @current_user, :card_size => "col s12 m6 l4" %>
    <% end %>
    <div class="col s12 m6 l4 hide-on-small-only">
      <a href="<%= new_dog_path %>" class="add-dog-card">
        <i class="material-icons add-dog-card-icon" style="font-size: 100px">add</i>
        <div class="add-dog-card-text">Add Dog</div>
      </a>
    </div> 
  </div>
  <div class="fixed-action-btn hide-on-med-and-up" style="bottom: 45px; right: 24px;">
    <a href="<%= new_dog_path %>" class="btn-floating btn-large waves-effect waves-light green accent-4 hide-on-large-only"><i class="material-icons">add</i></a>
  </div>
<% end %>