<% content_for :page_title, "My Favorites" %>

<% if not @dogs.empty? %>
  <div class="row container main-content">
    <% @dogs.each do |dog| %>
<<<<<<< HEAD
      <%= render "dog_card", :dog => dog, :current_user => @current_user, :card_size => "col s12 m6 l4" %>
=======
      <%= render "dogs/dog_card", :dog => dog, :current_user => @current_user %>
>>>>>>> events-branch
    <% end %>
<% else %>
  <div class="row center-align valign-wrapper no-dogs-message-container">
    <div class="col l12 m12 s12 valign no-dogs-message">
      You don't have any favorited dogs yet! <br>
    </div>
  </div>
<%end%>