  <div class="row">
    <div class="large-12 columns">
      <% if flash[:notice] %>
          <div class="ui warning message"><i class="warning icon"></i><%= flash[:notice] %></div>
        <% end %>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="fa fa-paw medium green-text text-accent-4"></i></h2>
            <h5 class="center">We're dog lovers</h5>

            <p class="light">We believe that creating a healthy, supportive, active, and thriving community of dog lovers is the best way to care for dogs, protect them, educate about their needs, make new friends, and get the rest of them adopted into loving homes.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="fa fa-map-marker edium green-text text-accent-4"></i></h2>
            <h5 class="center">We're local</h5>

            <p class="light">Whether you have a dog or not, start making new friends in the SF Bay Area, Los Angeles, Humboldt County, Greater Portland, and Seattle Metro. Some of our newest groups have opened in SLO, SD, Boston, Brooklyn, Tuscon, Denver, and Vancouver.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="fa fa-heart medium green-text text-accent-4"></i></h2>
            <h5 class="center">We're nonprofit</h5>

            <p class="light">Unlike other dog-sharing companies, City Dog Share is a federal 501c3 nonprofit charity. We exist to connect people and dogs, as well as aid dog shelters and other animal charities. Any donations are 100% tax deductible and help the entire City Dog Share community.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Feel free to browse through the dogs to <br> see if there's one you might be able to help out!</h5><br>
          <a href="pages/my-dogs.html" class="waves-effect waves-dark white light-blue-text text-darken-3 btn coming-soon-modal-trigger" style="margin-top: 15px">Browse Dogs</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <footer class="page-footer light-blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l7 s12">
          <h5 class="white-text">About us</h5>
          <p class="grey-text text-lighten-4">City Dog Share is a free dog-sitting co-op for people who love dogs. Feel free to have a look around and we hope you have an opportunity to help these wonderful pets and their parents!</p>


        </div>
        <div class="col l5 s12">
          <h5 class="white-text">Facebook Groups</h5>
          <ul class="col l6 s12 hide-on-med-and-down">
            <li><a class="white-text" href="http://www.facebook.com/groups/cds.001">San Francisco Bay Area</a></li>
            <li><a class="white-text" href="http://www.facebook.com/groups/cds.004/">Seattle Metro</a></li>
            <li><a class="white-text" href="http://www.facebook.com/groups/cds.003/">Greater Portland</a></li>
          </ul>
          <ul class="col l6 s12 hide-on-med-and-down">
            <li><a class="white-text" href="http://www.facebook.com/groups/cds.005/">Humboldt County</a></li>
            <li><a class="white-text" href="https://www.facebook.com/groups/cds.slocounty">San Luis Obispo</a></li>
            <li><a class="white-text" href="http://www.facebook.com/groups/cds.002/">Los Angeles</a></li>
          </ul>
          <ul class="col l6 s12 hide-on-large-only">
            <li><a class="white-text" href="http://www.facebook.com/groups/cds.001">San Francisco Bay Area</a></li>
            <li><a class="white-text" href="http://www.facebook.com/groups/cds.004/">Seattle Metro</a></li>
            <li><a class="white-text" href="http://www.facebook.com/groups/cds.003/">Greater Portland</a></li>
            <li><a class="white-text" href="http://www.facebook.com/groups/cds.005/">Humboldt County</a></li>
            <li><a class="white-text" href="https://www.facebook.com/groups/cds.slocounty">San Luis Obispo</a></li>
            <li><a class="white-text" href="http://www.facebook.com/groups/cds.002/">Los Angeles</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright light-blue darken-4">
      <div class="container">
        City Dog Share is a 501c3 federal nonprofit. All donations are 100% tax deductible. Registered charity #45-3127976 
      </div>
    </div>
  </footer>

  <div id="coming-soon-modal" class="modal">
    <div class="modal-content">
      <p>This would take you to the page you requested, but we have not implemented that so this will take you to the my dogs page for now!</p>
    </div>
    <div class="modal-footer">
      <a href="pages/my-dogs.html" class=" modal-action modal-close waves-effect waves-green btn-flat">Take me there</a>
    </div>
  </div>
