<% content_for :page_title, "My Events" %>

<div class="row container main-content">
  <div class="col s12 m5">
    <% if @current_user.events %>
      <div id = "dogevents"><h5>Upcoming Events:</h5>
        <% @current_user.events.each do |event| %>
          <%= render 'event_card', :event => event, :card_size => "col s12 m12 l12" %>
        <% end %>
      </div>
    <% else %>
      <div id="dogevents"><h3>No upcoming events</h3></div>
    <%end%>
    <div class="col s12 m12 l12 hide-on-small-only">
      <a href="<%= new_event_path %>" class="add-event-card">
        <i class="material-icons add-event-card-icon" style="font-size: 85px;margin-top: 35px;">add</i>
        <div class="add-event-card-text">Add Event</div>
      </a>
    </div>
  </div>
  
  <div class="col s12 m7">
    <style type="text/css">
      #calendar {
      width: 100%;
      margin: 0 auto;
      }
    </style>
    <div id='calendar'></div>
  </div>
  
  <div class="fixed-action-btn hide-on-med-and-up" style="bottom: 45px; right: 24px;">
    <a href="<%= new_event_path %>" class="btn-floating btn-large waves-effect waves-light green accent-4 hide-on-large-only"><i class="material-icons">add</i></a>
  </div>
</div>





