<% content_for :page_title, "My Events" %>

<% if flash[:notice] %>
  <div class="ui warning message"><i class="warning icon"></i>
    <%= flash[:notice] %>
      <br>
  </div>
<% end %>


<!--<style type="text/css">-->
<!--  #calendar-->
<!--  {-->
<!--  width: 900px;-->
<!--  margin: 0 auto;-->
<!--  }-->
<!--</style>-->

<!--<div id='calendar'></div>-->

<p> </p>
 <%= link_to "Add Event", new_event_path, :class => "ui primary button" %>
<p></p>

<% if @current_user.events %>
  <div id = "dogevents"><h5>Upcoming Events:</h5>
    <% @current_user.events.each do |event| %>
      <%= render 'event_card', :event => event %>
    <% end %>
</div>

</br>
</div>

<% else %>
<div id="dogevents"><h3>No upcoming events</h3></div>

<%end%>









