 /*
 *= require_self
 *= require_tree .
 */

@import "materialize/components/color";
$primary-color: color("light-blue", "darken-3") !default;
$secondary-color: color("light-blue", "darken-3") !default;
@import "materialize";

.gmnoprint img {
    max-width: none; 
}

.application-notice {
  position: fixed;
  right: 20px;
  top:80px;
  width: 300px;
  height: auto;
  background-color: red;
  z-index: 999;
  border-radius: 3px;
  color: white;
}
.application-notice-content {
  margin-top: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 250px;
  display: inline-block;
  vertical-align: text-top;
}
.application-notice-close {
  display: inline-block;
  cursor: hand;
  cursor: pointer;
  margin-top: 6px;
  vertical-align: text-top;
}
.application-notice.error {
  background-color: #ce3c37;
  border: none;
  color: white;
}

.fix-textarea-alignment {
  margin-top: 5px !important
}

.input-label-correction {
  top: 16px !important;
}

.reset-label {
  top: 0 !important;  
}

.invalid {
  color: red !important;
}

/* BEGIN NAVIGATION BAR */

.logo-img {
  margin-top: -2px;
  margin-right: 10px;
  height: 35px;
  width: 35px;
  vertical-align: middle;
}

.menu-user-img {
  width: 35px;
  height: 35px;
}

.menu-username {
  margin-top: 2px;
  margin-right: 10px;
}

.side-nav {
  width: 240px;
}

#show-menu-btn {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  text-align: top;
  border-radius: 32px;
  margin-top: -2px;
}
#show-menu-icon {
  font-size: 24px;
  margin-top: -12px;
  margin-left: 2px;
}

#hide-menu-btn {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  margin-top: -6px;
  text-align: top;
  border-radius: 32px;
}
#hide-menu-icon {
  font-size: 24px;
  margin-top: -12px;
  margin-left: 2px;
}

#city-dog-share-title {
  line-height: 65px;
  margin-left: 10px;
  font-size: 20px;
}

#slide-out-header {
  height: 65px;
  margin-bottom: 20px;
}

.menu-item {
  height: 50px;
  overflow: hidden;
  font-size: 50px;
}
.menu-item-icon {
  line-height: 30px;
}

.card-image {
  height: 250px;
  overflow: hidden;
}

.card-img {
  object-fit: cover;
  height:100%;
}

.page-title {
  font-size: 20px;
  margin-left: 20px;
}

#signup-form {
  
}

#sign-up-btn {
  
}

/* MOBILE */

#nav-mobile {
  width: 70%;
}
.show-menu-btn.mobile {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  text-align: top;
  border-radius: 32px;
  margin-top: 8px;
}
.show-menu-icon.mobile {
  font-size: 32px;
  margin-top: -9px;
  margin-left: 2px;
}
.menu-header.mobile {
  margin-top: 0px;
  margin-bottom: 10px;
  height: 78px;
  overflow: auto;
}
.menu-user-img.mobile {
  position: absolute;
  margin: 20px 0px 0px 15px;
  width: 38px;
  height: 38px;
  background-color: white;
}
.menu-username.mobile {
  position: absolute;
  margin: 3px 0px 0px 68px;
  font-size: 16px;
}
.menu-email.mobile {
  position: absolute;
  margin: 21px 0px 0px 69px;
  font-size: 14px;
  opacity: 0.5;
}
.add-dog-card {
  height: 381.5px;
  margin-top: 7.5px;
  border-radius: 12px;
  position: relative;
  border: dashed 5px #DFDFDF;
  cursor: hand;
  cursor: pointer;
  display: block;
}
.add-dog-card-icon {
  width: 100%;
  font-size: 120px;
  margin-top: 95px;
  text-align: center;
  color: #C4C4C4;
}
.add-dog-card-text {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  color: #C4C4C4;
}

/* END NAVIGATION BAR */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footer-copyright-text {
  padding: 10px;
  text-align: center;
}

.card .card-content {
    padding: 10px 10px 10px 20px;
}

.card-more-icon {
  margin-top: 12px;
  margin-right: 3px;
}

.faded {
  opacity: 0.6;
}

label.active {
  font-size: 15px !important;
}
label {
  font-size: 15px !important;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

.br-5.m {
  margin-top: 5px;
}
.br-10.m {
  margin-top: 10px;
}
.br-15.m {
  margin-top: 15px;
}
.br-20.m {
  margin-top: 20px;
}
.br-25.m {
  margin-top: 25px;
}
.br-30.m {
  margin-top: 30px;
}
.br-35.m {
  margin-top: 35px;
}
.br-40.m {
  margin-top: 40px;
}
.br-45.m {
  margin-top: 45px;
}
.br-50.m {
  margin-top: 50px;
}
.br-55.m {
  margin-top: 55px;
}
.br-60.m {
  margin-top: 60px;
}
.br-65.m {
  margin-top: 65px;
}
.br-70.m {
  margin-top: 70px;
}
.br-75.m {
  margin-top: 75px;
}
.br-80.m {
  margin-top: 80px;
}
.br-85.m {
  margin-top: 85px;
}
.br-90.m {
  margin-top: 90px;
}
.br-95.m {
  margin-top: 95px;
}
.br-100.m {
  margin-top: 100px;
}

@media only screen and (max-width : 600px) {
  .br-5.s {
    margin-top: 5px;
  }
  .br-10.s {
    margin-top: 10px;
  }
  .br-15.s {
    margin-top: 15px;
  }
  .br-20.s {
    margin-top: 20px;
  }
  .br-25.s {
    margin-top: 25px;
  }
  .br-30.s {
    margin-top: 30px;
  }
  .br-35.s {
    margin-top: 35px;
  }
  .br-40.s {
    margin-top: 40px;
  }
  .br-45.s {
    margin-top: 45px;
  }
  .br-50.s {
    margin-top: 50px;
  }
  .br-55.s {
    margin-top: 55px;
  }
  .br-60.s {
    margin-top: 60px;
  }
  .br-65.s {
    margin-top: 65px;
  }
  .br-70.s {
    margin-top: 70px;
  }
  .br-75.s {
    margin-top: 75px;
  }
  .br-80.s {
    margin-top: 80px;
  }
  .br-85.s {
    margin-top: 85px;
  }
  .br-90.s {
    margin-top: 90px;
  }
  .br-95.s {
    margin-top: 95px;
  }
  .br-100.s {
    margin-top: 100px;
  }
}

@media only screen and (min-width : 996px) {
  .br-5.l {
    margin-top: 5px;
  }
  .br-10.l {
    margin-top: 10px;
  }
  .br-15.l {
    margin-top: 15px;
  }
  .br-20.l {
    margin-top: 20px;
  }
  .br-25.l {
    margin-top: 25px;
  }
  .br-30.l {
    margin-top: 30px;
  }
  .br-35.l {
    margin-top: 35px;
  }
  .br-40.l {
    margin-top: 40px;
  }
  .br-45.l {
    margin-top: 45px;
  }
  .br-50.l {
    margin-top: 50px;
  }
  .br-55.l {
    margin-top: 55px;
  }
  .br-60.l {
    margin-top: 60px;
  }
  .br-65.l {
    margin-top: 65px;
  }
  .br-70.l {
    margin-top: 70px;
  }
  .br-75.l {
    margin-top: 75px;
  }
  .br-80.l {
    margin-top: 80px;
  }
  .br-85.l {
    margin-top: 85px;
  }
  .br-90.l {
    margin-top: 90px;
  }
  .br-95.l {
    margin-top: 95px;
  }
  .br-100.l {
    margin-top: 100px;
  }
}