// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.scss
// You can use Sass (SCSS) here: http://sass-lang.com/

/* BEGIN NEW.HTML */

.form-button-box {
	height: 60px;
}

@media only screen and (max-width : 600px) {
  	.form-button-box {
		height: 90px;
	}
}

.form-button-box a {
	margin-bottom: 15px;
}

.input-field {
	margin-bottom: 15px;
}

.select-wrapper {
	margin-top: 5px;
}

@media only screen and (min-width : 600px) {
	.left-col {
		padding-right: 18px !important;
	}

	.right-col {
		padding-left: 18px !important;
	}

	.right-col > label {
		padding-left: 6px !important;
	}
}

#delete_dog_form {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
}

#delete_dog_form .card-action {
	padding: 5px;
}

#delete_dog_card {
	margin: auto;
	padding-top: 100px;
}

.gray-overlay {
	 height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5;
    background: black;
    opacity: 0.8;
}

#favorite_star {
	z-index: 10;
	position: absolute;
	left: 85%;
	top: 5%;
	font-size: 40px;
	color:gold;
}

.star-container {
	position: absolute;
	right: 0;
	bottom: 0;
}

#dog_profile_pic {
	height: 200px;
	width: 200px;
  	object-fit: cover;
}

#delete_pic_x {
	right: 4px;
    position: absolute;
    font-size: 30px;
    color: gray;
}

.availability-dropdown {
	margin-top: 63px;
}

.availability-label {
	margin-top: -50px;
}

.availability-comment {
	font-size: 13px;
	line-height: 14px !important;
}

#profile_pics {
	position: relative;
	margin: 0 auto;
}
#dog_profile_name {
	font-size: 50px;
	line-height: 60px;
}

#dog_profile_star {
	color: gold;
	position: relative;
	right: 45px;
}
/* END NEW.HTML */

/* BEGIN SHOW.HTML */
.dog-info-collection .collection-item {
  min-height: 60px;
}

.dog-info-collection .collection-item .collection-item-content {
  margin-top: 7px;
}
/* END SHOW.HTML */

/* BEGIN INDEX.HTML */

.browse-dogs-container {
	position: absolute;
	top: 64px; bottom: 0; left: 0; right: 0;
	overflow: hidden;
	text-align: left;
}

.filters-container {
	position: absolute;
	top: 0; left: 0; bottom: 0;
	padding: 20px;
	width: 350px;
	background-color: #FAFAFA;
	text-align: left;
	overflow: hidden;
}
.filters-container .filter-title-container {
	position: absolute;
	top: 0; left: 0px; right: 0;
	height: 90px;
	overflow: hidden;
	padding-left: 10px;
	background-color: #F2F2F2;
}
.filters-container .input-container {
	position: absolute;
	top: 90px; left: 0px; right: 0px; bottom: 80px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #F2F2F2;
}
.filters-container .button-container {
	position: absolute;
	left: 0px; right: 0px; bottom: 0px;
	height: 80px;
	overflow: hidden;
	padding: 22px;
	text-align: center;
}

.dog-cards-container {
	position: absolute;
	left: 360px; right: 0; top: 0; bottom: 0;
	padding: 20px;
	padding-left: 0;
	overflow-y: scroll;
}

#dog_search_submit {
	width: 100%;
}

.card-grid-size {
	width: 280px;
	display: inline-flex;
    margin-left: 20px;
    margin-right: 0px;
}
.card-grid-size .card-img {
	width: 280px !important;
}

.filter {
	margin-left: 10px;
	margin-right: 10px;
}

.dog-form-col .input-field {
	height: 80px;
}
.dog-form-col .input-area {
	height: auto;
}
#filter_title {
	padding-left: 10px;
}

#filters-slide-out {
	top: 64px;
	width: 380px;
	padding: 20px;
}
@media only screen and (max-width : 600px) {
	#filters-slide-out {
		top: 56px;
		width: 90%;
		padding: 20px;
	}
}
.filters-button-collapse {
	float: right;
	margin-right: 6.8%;
	margin-top: 20px;
}

/* END INDEX.HTML */