// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.scss
// You can use Sass (SCSS) here: http://sass-lang.com/

/* BEGIN NEW.HTML */

.form-button-box {
	height: 60px;
}

@media only screen and (max-width : 600px) {
  	.form-button-box {
		height: 90px;
	}
}

.form-button-box a {
	margin-bottom: 15px;
}

.input-field {
	margin-bottom: 15px;
}

.select-wrapper {
	margin-top: 5px;
}

@media only screen and (min-width : 600px) {
	.left-col {
		padding-right: 18px !important;
	}

	.right-col {
		padding-left: 18px !important;
	}

	.right-col > label {
		padding-left: 6px !important;
	}
}


#favorite_star {
	z-index: 10;
	position: absolute;
	left: 85%;
	top: 5%;
	font-size: 40px;
	color:gold;
}

.star-container {
	position: absolute;
	right: 0;
	bottom: 0;
}

#dog_profile_pic {
	height: 200px;
	width: 200px;
  	object-fit: cover;
}

#profile_pics {
	position: relative;
	margin: 0 auto;
}
#dog_profile_name {
	font-size: 50px;
	line-height: 60px;
}

#dog_profile_star {
	color: gold;
}
/* END NEW.HTML */

/* BEGIN SHOW.HTML */
.dog-info-collection .collection-item {
  min-height: 60px;
}

.dog-info-collection .collection-item .collection-item-content {
  margin-top: 7px;
}
/* END SHOW.HTML */