.add-event-card {
  height: 140px;
  border-radius: 12px;
  position: relative;
  border: dashed 5px #DFDFDF;
  cursor: hand;
  cursor: pointer;
  display: block;
}
.event-card {
  padding: 10px;
  padding-left: 15px;
  margin-top: 0;
}
.event-card .event-card-content {
  margin: 0;
  padding: 0;
}
.event-card .card-action {
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 0px;
}

.event-detail-content {
  display: table-cell;
}
.event-detail-content span {
  display: inline-block;
}
.event-detail-title {
  color: #999;
  display: table-cell;
  padding-right: 8px;
}
.event-description-title {
  color: #999;
  display: inline-block;
}
.event-description-content {
  display: inline-block;
}
.event-icon {
  width: 60px;
  display: table-cell;
  height: 85px;
  position: relative;
}
.event-icon-month {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 5px;
  height: 26px;
  width: 100%;
  position: absolute;
  background-color: #005884;
  color: white;
  text-align: center;
  font-size: 16px;
}
.event-icon-day {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 31px; height: 50px;
  width: 100%;
  position: absolute;
  background-color: #0277bd;
  color: white;
  text-align: center;
  font-size: 30px;
}
.event-details {
  display: table-cell;
  padding-left: 10px;
}
@media only screen and (min-width : 600px) {
  .events-scroll {
    height: 478px;
    overflow-y:auto;
    padding-top: 5px;
    margin-top: -5px;
  }
}