// Place all the styles related to the Users controller here.
// They will automatically be included in user.css
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-dogs-message-container {
    height: 85%;
}
.no-dogs-message {
    font-size: 30px;
}
.no-dogs-message .btn-large {
    font-size: 16px;
    margin-top: 15px;
}